@model SeeNow.Models.users

@{
    /**/

    ViewBag.Title = "💖💖 SeeNow 登入 💖💖";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:deeppink;text-align:center;margin-top:10%">登入</h2>
@using (Html.BeginForm())
{
<hr />
<div class="form-horizontal" style="color:red;font-size:20px;margin-left:38%">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.account, htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.account, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.account, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.role_id, htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-10">
            @Html.DropDownList("role_id", null, htmlAttributes: new { @class = "form-control" })
            @*@Html.EditorFor(model => model.role_id, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.role_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
        </div>
        <div style="margin-left:33%">
            <p>
                <input id="Submit1" type="submit" value="登入" class="btn btn-info" />
            </p>
        </div>
    </div>
</div>
    }
